@media (max-width: 1024px) {
    .App {
        background: none; 
    }

    .input-container{
        width: 100%;
        height: 100vh;
        display:contents;
        align-items: center;
        justify-content: center;
    }
    
    .input-form-container{
        width: 54rem;	
        display: inline;
        border-radius: 10px;
        background-color: white;
        box-shadow: none;
        
    }
    
    .input-form-title {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 30px;
    }
    
    h2 {
          font-weight: 400;
          font-size: 25px;
    }
    
    h5 {
        margin: -30px 0 20px 0;
        font-weight: 500;
        font-size: 40px;
    }
    
    em {
        color: red;
    }
    
    .container {
        display:flex;
        margin-bottom: 1rem;
    }
    
    .input-form{
        width: 800px;
        height: 80%;
        margin: 0 40px;
    }

    textarea {
        min-height: 50px;
        
    }    
    
    form i {
        margin-left: -30px;
        margin-right: 15px;
        cursor: pointer;
    }
    
    .edit-password-confirm {
        display: flex;
    }
    
    .password-confirm {
         width: 350px;
        display: flex;
        justify-content: right;
        margin: -5px 0 0 0;
    }
    
    #password #true {
        color: var(--green);
        margin-top: -35px;
    }
    
    #edit-password #false {
        color: red;
        padding-left: 5px;
    }
    
    #password #false {
        color: red;
    }
    
    label {
        padding-bottom: 5px;
        font-size: 13px;
    }
    
    .qr-code-container {
        text-align: center;
        margin-top: -4rem;
        width: 700px;
    }

    .form-group {
        padding-right: 3px;
    }
    
    .form-bottom {
        margin: -5px 0 30px 45px;
        font-size: large;
        color: var(--green);
    }
    
    .form-bottom a{
        font-size: large;
        color: var(--green);
        text-decoration: none;
    }
    
    .form-bottom .link-edit-code {
        color: var(--blue);
        margin-left: 8rem;
    }

    .upload-img {
        /* display: block; */
    }
    
    .edit-form-bottom {
        margin: 15px 0 0 5px;
        font-size: large;
        color: var(--green);
    }
    
    .edit-form-bottom .link-back-to {
        color: var(--dark-alt);
        text-decoration: none;
    }
    
    .input-edit-password{
        height: 20px;
        margin-top: 10px;
    }
    
    .btn-edit-password {
        border: none;
        outline: none;
        padding: 9px;
        margin-left: 1rem;
        background-color: var(--yellow);
        border-radius: 10px;
        width: 80px;
        font-weight: 500;
        font-size: 20px;
        cursor: pointer;
        text-decoration: none;
    }
    
    .btn-edit-password:hover {
        background-color: var(--yellow-dark);
        transition-duration: 0.4s;
    }
    
    .btn-download {
        border: none;
        outline: none;
        padding: 12px;
        background-color: var(--yellow);
        border-radius: 15px;
        width: 280px;
        font-weight: 500;
        font-size: 20px;
        cursor: pointer;
        text-decoration: none;
        color: var(--dark-alt);
    }

}