:root {
	--dark: #131A26;
	--dark-alt: #202B3E;
	--gray: #4d535e;
	--ivory: #EBEBEB;
	--yellow: #F6C848 ;
	--yellow-dark: #d7ab32 ;
	--green: #326E39;
	--blue: #255699;
}

.App {
	background: url('assets/images/urqr-bg.png') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.input-container{
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.input-form-container{
	width: 84rem;	
	display: inline;
	border-radius: 10px;
	background-color: white;
	box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
		 0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
	max-width: 1000px;
}

.two-column-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between
  }

.input-form-title {
  margin-left: 40px;
}

.input-search input {
	margin: 10px;
	height: 100px;
	width: 100px;
	border: none;
	border-radius: 5px;
	text-align: center;
	font-size: 6rem;
	background: white;
	text-transform: uppercase;
}

.input-search button {
	position: relative;
	top: -25px;
	margin: 10px;
	height: 120px;
	width: 120px;
	border: none;
	border-radius: 5px;
	text-align: center;
	font-size: 23px;
	background: var(--green);
	color: white;
	text-transform: uppercase;
	cursor: pointer;
}

.input-search button:hover {
	background: var(--yellow);
	transition-duration: 0.4s;

}

h2 {
  	font-weight: 400;
	font-size: 30px;
}

h3 {
	font-weight:300;
}

h5 {
	margin: -30px 0 20px 0;
	font-weight: 500;
	font-size: 40px;
}

em {
	color: red;
}

.container {
  display: flex;
  margin-bottom: 1rem;
}

.input-form{
  	width: 500px;
	height: 80%;
  	margin: 0 40px;
}

.form-group {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 49%;
	margin-bottom: 5px;
  }
  
.form-group:nth-of-type(4) {
	width: 49%;
	padding-right: 20px;
  }

.form-group:first-of-type,
.form-group:nth-of-type(9),
.form-group:nth-of-type(10),
.form-group:last-of-type{
	width: 100%;
  }

label {
	position: relative;
	top: 5px;
	font-size: 16px;
	color: #464646;
	pointer-events: none;
}	

input, textarea {
	padding: 10px;
	margin: 10px 0;
	font-size: 20px;
  	border: 1px solid rgb(201, 201, 201);
  	border-radius: 3px;
}

textarea {
	resize: none;
	min-height: 50px;
}

.form-group #togglePassword {
	position:relative;
	top: -40px;
	left: 45px;
	width: min-content;
}

.form-group #password-input {
	padding-left: 40px;
}

form i {
    margin-left: -30px;
	margin-right: 15px;
    cursor: pointer;
}


.input-form-password {
	display: block;
	align-items: center;
	justify-content: center;
}


.password-confirm {
 	width: 350px;
	display: flex;
	justify-content: right;
	margin: -5px 0 0 -35px;
}

#password #true {
	color: var(--green);
	margin: -35px 70px 0 0;
}

#edit-password #false {
	color: red;
}

#password #false {
	color: red;
}

.right-form {
	cursor: pointer;
}

.right-form #upload-lb {
	color: #464646;
	position: relative;
	top: -5px;
}

.submit-btn,
.submit-edit-btn {
  	border: none;
	outline: none;
	padding: 12px 0;
  	color: white;
	width: 100%;
  	font-weight: 100;
	background-color: var(--yellow);
  	border-radius: 5px;
	font-weight: bold;
	cursor: pointer;
  	margin: 12px 0;
	font-size: 20px;
}

.submit-btn:hover {
	background-color: var(--green);
	transition-duration: 0.4s;
}

.form-group .submit-edit-btn:hover {
	background-color: var(--blue);
	transition-duration: 0.4s;
}



.qr-code-container {
	text-align: center;
	margin-top: -2rem;
}

.form-bottom {
	margin: -5px 0 30px 45px;
	font-size: large;
	color: var(--green);
}

.form-bottom a{
	font-size: large;
	color: var(--green);
	text-decoration: none;
}

.form-bottom .link-edit-code {
	color: var(--blue);
	margin-left: 8rem;
}

.edit-form-bottom {
	margin: 15px 0 0 5px;
	font-size: large;
	color: var(--green);
}

.form-group #create-a,
.form-group #edit-a
{
	text-decoration: none;
	font-size: 25px;
}

.form-group #create-a
{
	color: var(--green);
}

.form-group #edit-a
{
	color: var(--blue);
}

.btn-edit-password {
	border: none;
	outline: none;
	padding: 9px;
	margin-left: 1rem;
	background-color: var(--yellow);
	border-radius: 10px;
	width: 80px;
	font-weight: 500;
	font-size: 20px;
	cursor: pointer;
	text-decoration: none;
}

.btn-edit-password:hover {
	background-color: var(--blue);
	transition-duration: 0.8s;
}

.btn-download {
	border: none;
	outline: none;
	padding: 12px;
	background-color: var(--yellow);
	border-radius: 15px;
	width: 280px;
	font-weight: 500;
	font-size: 20px;
	cursor: pointer;
	text-decoration: none;
	color: var(--dark-alt);
}

.search-href {
	margin-top: 6rem;
	display: block;
	text-align: right;
}

.search-href a {
	font-size: 22px;
	margin-top: 6rem;
	text-decoration: none;
	color: var(--dark)
}